<aside [ngClass]="{'-translate-x-80': true}"
    class="bg-gradient-to-br from-[#6f8001] to-[#afca06]  fixed inset-0 z-50 h-100vh w-72 transition-transform duration-300 xl:translate-x-0">
    <div class="relative border-b border-white/20">
        <a class="flex items-center gap-4 py-6 px-8">
            <img src="./images/logo/bg-dark-text.png" alt="logo">
        </a>
    </div>
    <div class="m-4">
        <ul class="mb-4 flex flex-col gap-1">
            <li>
                <a routerLink="/home">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        routerLinkActive="bg-[#afca06] shadow-md hover:shadow-md hover:shadow-white-500/40 "
                        type="button">
                        <img class="w-7" src="./icons/bg_dark_home3.png" alt="logo">
                        <p
                            class="block antialiased font-sans text-lg leading-relaxed text-inherit font-medium capitalize">
                            Inicio</p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/adopt">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        routerLinkActive="bg-[#afca06] shadow-md hover:shadow-md hover:shadow-white-500/40 "
                        type="button">
                        <img class="w-7" src="./icons/bg_dark_mascotas.png" alt="logo">
                        <p
                            class="block antialiased font-sans text-lg leading-relaxed text-inherit font-medium capitalize">
                            adopta</p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/sponsor">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        routerLinkActive="bg-[#afca06] shadow-md hover:shadow-md hover:shadow-white-500/40 "
                        type="button">
                        <img class="w-7" src="./icons/bg_dark_sponsor.png" alt="logo">
                        <p
                            class="block antialiased font-sans text-lg leading-relaxed text-inherit font-medium capitalize">
                            Apadrina</p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/blog">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        routerLinkActive="bg-[#afca06] shadow-md hover:shadow-md hover:shadow-white-500/40 "
                        type="button">
                        <img class="w-7" src="./icons/bg_dark_blog2.png" alt="logo">
                        <p
                            class="block antialiased font-sans text-lg leading-relaxed text-inherit font-medium capitalize">
                            Blog</p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/contact">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        routerLinkActive="bg-[#afca06] shadow-md hover:shadow-md hover:shadow-white-500/40 "
                        type="button">
                        <img class="w-7" src="./icons/bg_dark_contact2.png" alt="logo">
                        <p
                            class="block antialiased font-sans text-lg leading-relaxed text-inherit font-medium capitalize">
                            Contactanos</p>
                    </button>
                </a>
            </li>
        </ul>

    </div>
</aside>