<!-- Contenedor principal con fondo blanco, bordes redondeados y sombra -->
<div
  class="bg-white bg-cover bg-center rounded-xl shadow-2xl min-h-[600px] py-10"
>
  <!-- Título principal -->
  <p class="font-semibold text-4xl p-2 m-10 mt-20 text-center">
    ¡Sé el Héroe de un Peludo!
  </p>
  <!-- Descripción inicial sobre el Plan Padrino -->
  <p class="font-normal text-lg p-2 m-10 my-5">
    Con nuestro Plan Padrino, te conviertes en el ángel guardián de un perro o
    gato que espera ansioso por un hogar. Tu generosidad nos permite brindarles:
  </p>
  <!-- Lista de beneficios del apadrinamiento -->
  <ul class="list-disc text-lg p-2 m-10 my-5 ml-[5rem]">
    <li>
      <p>
        <span class="font-bold">Comida nutritiva y deliciosa: </span>Para que
        crezcan fuertes y saludables.
      </p>
    </li>
    <li>
      <p>
        <span class="font-bold">Atención veterinaria: </span>Vacunas,
        desparasitación y cuidados especiales para que estén siempre en las
        mejores patitas.
      </p>
    </li>
    <li>
      <p>
        <span class="font-bold">Un lugar cálido y seguro: </span>Para que se
        sientan protegidos y amados mientras esperan su hogar definitivo.
      </p>
    </li>
    <li>
      <p>
        <span class="font-bold">¡Mucho amor y juegos!: </span>Porque cada animal
        merece sentirse especial y feliz.
      </p>
    </li>
  </ul>
  <!-- Información sobre el costo del apadrinamiento -->
  <p class="font-normal text-lg p-2 m-10 my-5">
    <span class="font-bold"
      >Apadrina desde COP $50.000 mensuales durante 6 meses </span
    >y recibe actualizaciones periódicas sobre cómo tu ayuda está cambiando la
    vida de tu ahijado peludo. ¡Verás cómo crece, juega y se prepara para
    encontrar su familia ideal gracias a ti!
  </p>
  <!-- Llamado a la acción para unirse a la comunidad de padrinos -->
  <p class="font-normal text-xl items-center gap-1 m-10 my-5">
    <span class="font-bold"
      >¡Únete a nuestra familia de padrinos y madrinas!
    </span>
    Juntos, podemos hacer que cada perro y gato encuentre el amor y el hogar que
    merecen.
  </p>
  <!-- Botón para apadrinar -->
  <a class="grid justify-items-center my-10">
    <button
      class="bg-[#6f8001] font-sans font-bold py-3 rounded-full hover:text-slate-50 text-slate-200 items-center gap-1 mx-5 px-4 flex"
      type="button"
    >
      <img class="w-7" src="./icons/bg_dark_sponsor.png" alt="dog" />
      ¡Apadrina ahora!
    </button>
  </a>
  <!-- Información sobre donaciones puntuales -->
  <p class="font-normal text-xl items-center gap-1 m-10 my-5">
    <span class="font-bold">¡Invita a un peludo a una golosina! </span> Cada
    granito de arena cuenta, sabemos que no todos pueden apadrinar a un peludo
    de forma mensual, pero ¡cualquier aporte es valioso!. Con una pequeña
    donación, puedes ayudar a llenar sus días de alegría.
  </p>
  <!-- Botón para donar golosinas -->
  <a class="grid justify-items-center my-10">
    <button
      class="bg-[#6f8001] font-sans font-bold py-3 rounded-full hover:text-slate-50 text-slate-200 items-center gap-2 mx-5 px-4 flex"
      type="button"
    >
      <img class="w-7" src="./icons/bg_dark_dog_treat2.png" alt="dog" />
      ¡Invitar a una golosina!
    </button>
  </a>
</div>
