<div
  class="bg-white bg-cover bg-center rounded-xl shadow-2xl min-h-[600px] py-10"
>
  <div class="">
    <div class="">
      <p class="font-semibold text-4xl p-2 m-10 mt-20 text-center">
        ¡Encuentra a tu nuevo mejor amigo!
      </p>
      <p class="font-normal text-xl p-2 m-10 my-5">
        En nuestro refugio, cada mirada, cada ladrido y cada ronroneo cuentan
        una historia de amor esperando ser escrita. Estos adorables peludos
        sueñan con un hogar cálido y una familia que los ame incondicionalmente.
        ¿Estás listo para abrir tu corazón y cambiar una vida?
      </p>
      <p
        class="font-normal text-xl items-center gap-1 flex m-10 my-5"
        type="button"
      >
        ¡Conoce a nuestros maravillosos compañeros en adopción!
        <img class="w-10" src="./icons/green_heart.png" alt="heart" />
      </p>
    </div>
  </div>
  <p id="dog-section" class="font-semibold text-4xl p-2 m-10 mt-20">
    ¡Adopta un ladrido!
  </p>
  <section
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5 mx-[20px]"
  >
    <!--   ✅ Card 1 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_bruno.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño mediano, pelaje marrón claro, muy sociable y
            enérgico. Ideal para familias activas.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Bruno
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 1 - Ends Here  -->

    <!--   ✅ Card 2 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_luna.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestiza de tamaño mediano, pelaje negro con manchas blancas,
            tranquila y cariñosa. Perfecta para personas que buscan
            compañía.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Luna
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 2- Ends Here  -->

    <!--   ✅ Card 3 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_canela.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestiza de tamaño mediano, pelaje canela, tranquila y obediente.
            Ideal para personas mayores o familias con niños pequeños.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Canela
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 3- Ends Here  -->

    <!--   ✅ Card 4 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_thor.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño grande, pelaje atigrado, juguetón y amigable.
            Necesita un hogar con espacio y tiempo para dedicarle.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Thor
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 4- Ends Here  -->

    <!--   ✅ Card 5 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_nala.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestiza de tamaño grande, pelaje claro, juguetona y curiosa. Ideal
            para familias con niños o personas activas.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Nala
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 5- Ends Here  -->

    <!--   ✅ Card 6 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_rocky.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño pequeño, pelaje marrón claro. Ideal para personas
            que buscan un compañero fiel y de bajo mantenimiento.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Rocky
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 6- Ends Here  -->
  </section>
  <p id="cat-section" class="font-semibold text-4xl p-2 m-10 mt-20">
    ¡Adopta un ronroneo!
  </p>
  <section
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5 mx-[20px]"
  >
    <!--   ✅ Card 1 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_bruno.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño mediano, pelaje marrón claro, muy sociable y
            enérgico. Ideal para familias activas.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Bruno
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 1 - Ends Here  -->

    <!--   ✅ Card 2 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_luna.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestiza de tamaño mediano, pelaje negro con manchas blancas,
            tranquila y cariñosa. Perfecta para personas que buscan
            compañía.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Luna
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 2- Ends Here  -->

    <!--   ✅ Card 3 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_rocky.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestiza de tamaño mediano, pelaje canela, tranquila y obediente.
            Ideal para personas mayores o familias con niños pequeños.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Canela
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 3- Ends Here  -->

    <!--   ✅ Card 4 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_thor.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño mediano, pelaje marrón claro, muy sociable y
            enérgico. Ideal para familias activas.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Bruno
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 4- Ends Here  -->

    <!--   ✅ Card 5 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_bruno.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño mediano, pelaje marrón claro, muy sociable y
            enérgico. Ideal para familias activas.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Bruno
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 5- Ends Here  -->

    <!--   ✅ Card 6 - Starts Here 👇 -->
    <div
      class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    >
      <a href="https://wa.me/573002427778/?text=Quiero adoptar a ">
        <img
          src="./images/adopt/adopt_bruno.jpg"
          alt="Bruno"
          class="h-80 w-72 object-cover rounded-t-xl"
        />
        <div class="px-4 py-3 w-72">
          <span class="text-gray-400 mr-3 text-xs"
            >Mestizo de tamaño mediano, pelaje marrón claro, muy sociable y
            enérgico. Ideal para familias activas.</span
          >
          <div class="flex items-center">
            <p class="text-lg font-bold text-black truncate block capitalize">
              Bruno
            </p>
            <div class="ml-auto">
              <img class="w-10" src="./icons/green_adopt2.png" alt="heart" />
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--   🛑 Card 6- Ends Here  -->
  </section>
</div>
