@tailwind base;
@tailwind components;
@tailwind utilities;

app-auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("../public/images/dog2.jpg");
}
